.frame {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #5a717b;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    box-shadow: 10px 10px 20px 0px #b3babd;
}

.checkbox {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: black; */
}

#cb {
    display: none;
}

.toggle {
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    z-index: 5;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 4px 0 rgb(50, 50, 50), inset 2px 2px 4px rgb(50, 50, 50);
}


.checkbox input:checked~.toggle {
    border: 14px solid;
    background-color: #5fd17a;
    box-shadow: 2px 2px 4px 0 rgb(50, 50, 50);
}

.checkbox .sparkles {
    position: absolute;
    height: 40px;
    width: 40px;
    /* background-color: black; */
    top: 0px;
    left: 0px;
}

.checkbox .sparkles .sparkle {
    position: absolute;
    width: 2px;
    height: 16px;
    top: 12px;
    left: 18px;
    background: #fff;
    /* transition: none; */
}

.checkbox input:checked~.sparkles .sparkle-1 {
    transform: rotate(0deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-2 {
    transform: rotate(30deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-3 {
    transform: rotate(60deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-4 {
    transform: rotate(90deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-5 {
    transform: rotate(120deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-6 {
    transform: rotate(150deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-7 {
    transform: rotate(180deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-8 {
    transform: rotate(210deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-9 {
    transform: rotate(240deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-10 {
    transform: rotate(270deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-11 {
    transform: rotate(300deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.checkbox input:checked~.sparkles .sparkle-12 {
    transform: rotate(330deg) translateY(-50px) scaleY(1);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}





.checkbox .sparkles .sparkle-1 {
    transform: rotate(0deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-2 {
    transform: rotate(30deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-3 {
    transform: rotate(60deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-4 {
    transform: rotate(90deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-5 {
    transform: rotate(120deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-6 {
    transform: rotate(150deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-7 {
    transform: rotate(180deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-8 {
    transform: rotate(210deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-9 {
    transform: rotate(240deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-10 {
    transform: rotate(270deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-11 {
    transform: rotate(300deg) translateY(-15px) scaleY(0);
}

.checkbox .sparkles .sparkle-12 {
    transform: rotate(330deg) translateY(-15px) scaleY(0);
}