/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #DD3C54;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bell{
    fill: #fff;
    position: absolute;
	top: 173px;
	left: 175px;
    transform-origin: 50% 0%;
    animation: ring-bell 2.5s ease infinite;
}

.line{
    fill: none;
    stroke-width: 2px;
    stroke: #fff;
    stroke-linecap: round;
    position: absolute;
}

.line-1, .line-2, .line-3{
    top: 170px;
    right: 150px;
}
.line-4, .line-5, .line-6{
    top: 170px;
    left: 150px;
}

.line-1{
    animation: ring-right-1 2.5s ease-out infinite both;
}
.line-2{
    animation: ring-right-2 2.5s ease-out infinite both;
    animation-delay: .25s;
}
.line-3{
    animation: ring-right-3 2.5s ease-out infinite ;
    animation-delay: .5s;
}

.line-4{
    animation: ring-left-1 2.5s ease-out infinite both;
}
.line-5{
    animation: ring-left-2 2.5s ease-out infinite both;
    animation-delay: .25s;
}
.line-6{
    animation: ring-left-3 2.5s ease-out infinite ;
    animation-delay: .5s;
}

@keyframes ring-right-1 {
    0%{
        opacity: 0;
        transform: translateX(0px) scale(1);
    }
    5%{
        opacity: 1;
    }
    50%,100%{
        opacity: 0;
        transform: translate(40px) scale(2);
    }
}
@keyframes ring-right-2 {
    0%,10%{
        opacity: 0;
        transform: translateX(0px) scale(1);
    }
    15%{
        opacity: 1;
    }
    50%,100%{
        opacity: 0;
        transform: translate(40px) scale(2);
    }
}
@keyframes ring-right-3 {
    0%,20%{
        opacity: 0;
        transform: translateX(0px) scale(1);
    }
    25%{
        opacity: 1;
    }
    70%,100%{
        opacity: 0;
        transform: translate(40px) scale(2);
    }
}
@keyframes ring-left-1 {
    0%{
        opacity: 0;
        transform: translateX(0px) scale(1);
    }
    5%{
        opacity: 1;
    }
    50%,100%{
        opacity: 0;
        transform: translate(-40px) scale(2);
    }
}
@keyframes ring-left-2 {
    0%,10%{
        opacity: 0;
        transform: translateX(0px) scale(1);
    }
    15%{
        opacity: 1;
    }
    60%,100%{
        opacity: 0;
        transform: translate(-40px) scale(2);
    }
}
@keyframes ring-left-3 {
    0%,20%{
        opacity: 0;
        transform: translateX(0px) scale(1);
    }
    25%{
        opacity: 1;
    }
    70%,100%{
        opacity: 0;
        transform: translate(-40px) scale(2);
    }
}

@keyframes ring-bell {
    0%,70%,100%{
        transform: rotate(0deg);
    }

    5%,15%,25%,35%,45%,55%,65%{
        transform: rotate(15deg);
    }
    10%,20%,30%,40%,50%,60%{
        transform: rotate(-15deg);
    }

}