@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #2c3e50;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.circle {
  position: absolute;
  background-color: #2ecc71;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
  z-index: 0;
}

.circle:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #2ecc71;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  -webkit-animation: pulsate 2s ease-out infinite;
  animation: pulsate 2s ease-out infinite;
}

@keyframes pulsate {
  from {
    transform: scale(0.9);
    opacity: 0.8;
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}

.box {
  z-index: 100;
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin: 0;
}

.box:hover~.circle {
  transition: transform 0.5s ease-out
}


.box-0:hover~.circle {
  transform: translate(-200px, -200px)
}

.box-1:hover~.circle {
  transform: translate(-180px, -200px)
}

.box-2:hover~.circle {
  transform: translate(-160px, -200px)
}

.box-3:hover~.circle {
  transform: translate(-140px, -200px)
}

.box-4:hover~.circle {
  transform: translate(-120px, -200px)
}

.box-5:hover~.circle {
  transform: translate(-100px, -200px)
}

.box-6:hover~.circle {
  transform: translate(-80px, -200px)
}

.box-7:hover~.circle {
  transform: translate(-60px, -200px)
}

.box-8:hover~.circle {
  transform: translate(-40px, -200px)
}

.box-9:hover~.circle {
  transform: translate(-20px, -200px)
}

.box-10:hover~.circle {
  transform: translate(0px, -200px)
}

.box-11:hover~.circle {
  transform: translate(20px, -200px)
}

.box-12:hover~.circle {
  transform: translate(40px, -200px)
}

.box-13:hover~.circle {
  transform: translate(60px, -200px)
}

.box-14:hover~.circle {
  transform: translate(80px, -200px)
}

.box-15:hover~.circle {
  transform: translate(100px, -200px)
}

.box-16:hover~.circle {
  transform: translate(120px, -200px)
}

.box-17:hover~.circle {
  transform: translate(140px, -200px)
}

.box-18:hover~.circle {
  transform: translate(160px, -200px)
}

.box-19:hover~.circle {
  transform: translate(180px, -200px)
}

.box-20:hover~.circle {
  transform: translate(-200px, -180px)
}

.box-21:hover~.circle {
  transform: translate(-180px, -180px)
}

.box-22:hover~.circle {
  transform: translate(-160px, -180px)
}

.box-23:hover~.circle {
  transform: translate(-140px, -180px)
}

.box-24:hover~.circle {
  transform: translate(-120px, -180px)
}

.box-25:hover~.circle {
  transform: translate(-100px, -180px)
}

.box-26:hover~.circle {
  transform: translate(-80px, -180px)
}

.box-27:hover~.circle {
  transform: translate(-60px, -180px)
}

.box-28:hover~.circle {
  transform: translate(-40px, -180px)
}

.box-29:hover~.circle {
  transform: translate(-20px, -180px)
}

.box-30:hover~.circle {
  transform: translate(0px, -180px)
}

.box-31:hover~.circle {
  transform: translate(20px, -180px)
}

.box-32:hover~.circle {
  transform: translate(40px, -180px)
}

.box-33:hover~.circle {
  transform: translate(60px, -180px)
}

.box-34:hover~.circle {
  transform: translate(80px, -180px)
}

.box-35:hover~.circle {
  transform: translate(100px, -180px)
}

.box-36:hover~.circle {
  transform: translate(120px, -180px)
}

.box-37:hover~.circle {
  transform: translate(140px, -180px)
}

.box-38:hover~.circle {
  transform: translate(160px, -180px)
}

.box-39:hover~.circle {
  transform: translate(180px, -180px)
}

.box-40:hover~.circle {
  transform: translate(-200px, -160px)
}

.box-41:hover~.circle {
  transform: translate(-180px, -160px)
}

.box-42:hover~.circle {
  transform: translate(-160px, -160px)
}

.box-43:hover~.circle {
  transform: translate(-140px, -160px)
}

.box-44:hover~.circle {
  transform: translate(-120px, -160px)
}

.box-45:hover~.circle {
  transform: translate(-100px, -160px)
}

.box-46:hover~.circle {
  transform: translate(-80px, -160px)
}

.box-47:hover~.circle {
  transform: translate(-60px, -160px)
}

.box-48:hover~.circle {
  transform: translate(-40px, -160px)
}

.box-49:hover~.circle {
  transform: translate(-20px, -160px)
}

.box-50:hover~.circle {
  transform: translate(0px, -160px)
}

.box-51:hover~.circle {
  transform: translate(20px, -160px)
}

.box-52:hover~.circle {
  transform: translate(40px, -160px)
}

.box-53:hover~.circle {
  transform: translate(60px, -160px)
}

.box-54:hover~.circle {
  transform: translate(80px, -160px)
}

.box-55:hover~.circle {
  transform: translate(100px, -160px)
}

.box-56:hover~.circle {
  transform: translate(120px, -160px)
}

.box-57:hover~.circle {
  transform: translate(140px, -160px)
}

.box-58:hover~.circle {
  transform: translate(160px, -160px)
}

.box-59:hover~.circle {
  transform: translate(180px, -160px)
}

.box-60:hover~.circle {
  transform: translate(-200px, -140px)
}

.box-61:hover~.circle {
  transform: translate(-180px, -140px)
}

.box-62:hover~.circle {
  transform: translate(-160px, -140px)
}

.box-63:hover~.circle {
  transform: translate(-140px, -140px)
}

.box-64:hover~.circle {
  transform: translate(-120px, -140px)
}

.box-65:hover~.circle {
  transform: translate(-100px, -140px)
}

.box-66:hover~.circle {
  transform: translate(-80px, -140px)
}

.box-67:hover~.circle {
  transform: translate(-60px, -140px)
}

.box-68:hover~.circle {
  transform: translate(-40px, -140px)
}

.box-69:hover~.circle {
  transform: translate(-20px, -140px)
}

.box-70:hover~.circle {
  transform: translate(0px, -140px)
}

.box-71:hover~.circle {
  transform: translate(20px, -140px)
}

.box-72:hover~.circle {
  transform: translate(40px, -140px)
}

.box-73:hover~.circle {
  transform: translate(60px, -140px)
}

.box-74:hover~.circle {
  transform: translate(80px, -140px)
}

.box-75:hover~.circle {
  transform: translate(100px, -140px)
}

.box-76:hover~.circle {
  transform: translate(120px, -140px)
}

.box-77:hover~.circle {
  transform: translate(140px, -140px)
}

.box-78:hover~.circle {
  transform: translate(160px, -140px)
}

.box-79:hover~.circle {
  transform: translate(180px, -140px)
}

.box-80:hover~.circle {
  transform: translate(-200px, -120px)
}

.box-81:hover~.circle {
  transform: translate(-180px, -120px)
}

.box-82:hover~.circle {
  transform: translate(-160px, -120px)
}

.box-83:hover~.circle {
  transform: translate(-140px, -120px)
}

.box-84:hover~.circle {
  transform: translate(-120px, -120px)
}

.box-85:hover~.circle {
  transform: translate(-100px, -120px)
}

.box-86:hover~.circle {
  transform: translate(-80px, -120px)
}

.box-87:hover~.circle {
  transform: translate(-60px, -120px)
}

.box-88:hover~.circle {
  transform: translate(-40px, -120px)
}

.box-89:hover~.circle {
  transform: translate(-20px, -120px)
}

.box-90:hover~.circle {
  transform: translate(0px, -120px)
}

.box-91:hover~.circle {
  transform: translate(20px, -120px)
}

.box-92:hover~.circle {
  transform: translate(40px, -120px)
}

.box-93:hover~.circle {
  transform: translate(60px, -120px)
}

.box-94:hover~.circle {
  transform: translate(80px, -120px)
}

.box-95:hover~.circle {
  transform: translate(100px, -120px)
}

.box-96:hover~.circle {
  transform: translate(120px, -120px)
}

.box-97:hover~.circle {
  transform: translate(140px, -120px)
}

.box-98:hover~.circle {
  transform: translate(160px, -120px)
}

.box-99:hover~.circle {
  transform: translate(180px, -120px)
}

.box-100:hover~.circle {
  transform: translate(-200px, -100px)
}

.box-101:hover~.circle {
  transform: translate(-180px, -100px)
}

.box-102:hover~.circle {
  transform: translate(-160px, -100px)
}

.box-103:hover~.circle {
  transform: translate(-140px, -100px)
}

.box-104:hover~.circle {
  transform: translate(-120px, -100px)
}

.box-105:hover~.circle {
  transform: translate(-100px, -100px)
}

.box-106:hover~.circle {
  transform: translate(-80px, -100px)
}

.box-107:hover~.circle {
  transform: translate(-60px, -100px)
}

.box-108:hover~.circle {
  transform: translate(-40px, -100px)
}

.box-109:hover~.circle {
  transform: translate(-20px, -100px)
}

.box-110:hover~.circle {
  transform: translate(0px, -100px)
}

.box-111:hover~.circle {
  transform: translate(20px, -100px)
}

.box-112:hover~.circle {
  transform: translate(40px, -100px)
}

.box-113:hover~.circle {
  transform: translate(60px, -100px)
}

.box-114:hover~.circle {
  transform: translate(80px, -100px)
}

.box-115:hover~.circle {
  transform: translate(100px, -100px)
}

.box-116:hover~.circle {
  transform: translate(120px, -100px)
}

.box-117:hover~.circle {
  transform: translate(140px, -100px)
}

.box-118:hover~.circle {
  transform: translate(160px, -100px)
}

.box-119:hover~.circle {
  transform: translate(180px, -100px)
}

.box-120:hover~.circle {
  transform: translate(-200px, -80px)
}

.box-121:hover~.circle {
  transform: translate(-180px, -80px)
}

.box-122:hover~.circle {
  transform: translate(-160px, -80px)
}

.box-123:hover~.circle {
  transform: translate(-140px, -80px)
}

.box-124:hover~.circle {
  transform: translate(-120px, -80px)
}

.box-125:hover~.circle {
  transform: translate(-100px, -80px)
}

.box-126:hover~.circle {
  transform: translate(-80px, -80px)
}

.box-127:hover~.circle {
  transform: translate(-60px, -80px)
}

.box-128:hover~.circle {
  transform: translate(-40px, -80px)
}

.box-129:hover~.circle {
  transform: translate(-20px, -80px)
}

.box-130:hover~.circle {
  transform: translate(0px, -80px)
}

.box-131:hover~.circle {
  transform: translate(20px, -80px)
}

.box-132:hover~.circle {
  transform: translate(40px, -80px)
}

.box-133:hover~.circle {
  transform: translate(60px, -80px)
}

.box-134:hover~.circle {
  transform: translate(80px, -80px)
}

.box-135:hover~.circle {
  transform: translate(100px, -80px)
}

.box-136:hover~.circle {
  transform: translate(120px, -80px)
}

.box-137:hover~.circle {
  transform: translate(140px, -80px)
}

.box-138:hover~.circle {
  transform: translate(160px, -80px)
}

.box-139:hover~.circle {
  transform: translate(180px, -80px)
}

.box-140:hover~.circle {
  transform: translate(-200px, -60px)
}

.box-141:hover~.circle {
  transform: translate(-180px, -60px)
}

.box-142:hover~.circle {
  transform: translate(-160px, -60px)
}

.box-143:hover~.circle {
  transform: translate(-140px, -60px)
}

.box-144:hover~.circle {
  transform: translate(-120px, -60px)
}

.box-145:hover~.circle {
  transform: translate(-100px, -60px)
}

.box-146:hover~.circle {
  transform: translate(-80px, -60px)
}

.box-147:hover~.circle {
  transform: translate(-60px, -60px)
}

.box-148:hover~.circle {
  transform: translate(-40px, -60px)
}

.box-149:hover~.circle {
  transform: translate(-20px, -60px)
}

.box-150:hover~.circle {
  transform: translate(0px, -60px)
}

.box-151:hover~.circle {
  transform: translate(20px, -60px)
}

.box-152:hover~.circle {
  transform: translate(40px, -60px)
}

.box-153:hover~.circle {
  transform: translate(60px, -60px)
}

.box-154:hover~.circle {
  transform: translate(80px, -60px)
}

.box-155:hover~.circle {
  transform: translate(100px, -60px)
}

.box-156:hover~.circle {
  transform: translate(120px, -60px)
}

.box-157:hover~.circle {
  transform: translate(140px, -60px)
}

.box-158:hover~.circle {
  transform: translate(160px, -60px)
}

.box-159:hover~.circle {
  transform: translate(180px, -60px)
}

.box-160:hover~.circle {
  transform: translate(-200px, -40px)
}

.box-161:hover~.circle {
  transform: translate(-180px, -40px)
}

.box-162:hover~.circle {
  transform: translate(-160px, -40px)
}

.box-163:hover~.circle {
  transform: translate(-140px, -40px)
}

.box-164:hover~.circle {
  transform: translate(-120px, -40px)
}

.box-165:hover~.circle {
  transform: translate(-100px, -40px)
}

.box-166:hover~.circle {
  transform: translate(-80px, -40px)
}

.box-167:hover~.circle {
  transform: translate(-60px, -40px)
}

.box-168:hover~.circle {
  transform: translate(-40px, -40px)
}

.box-169:hover~.circle {
  transform: translate(-20px, -40px)
}

.box-170:hover~.circle {
  transform: translate(0px, -40px)
}

.box-171:hover~.circle {
  transform: translate(20px, -40px)
}

.box-172:hover~.circle {
  transform: translate(40px, -40px)
}

.box-173:hover~.circle {
  transform: translate(60px, -40px)
}

.box-174:hover~.circle {
  transform: translate(80px, -40px)
}

.box-175:hover~.circle {
  transform: translate(100px, -40px)
}

.box-176:hover~.circle {
  transform: translate(120px, -40px)
}

.box-177:hover~.circle {
  transform: translate(140px, -40px)
}

.box-178:hover~.circle {
  transform: translate(160px, -40px)
}

.box-179:hover~.circle {
  transform: translate(180px, -40px)
}

.box-180:hover~.circle {
  transform: translate(-200px, -20px)
}

.box-181:hover~.circle {
  transform: translate(-180px, -20px)
}

.box-182:hover~.circle {
  transform: translate(-160px, -20px)
}

.box-183:hover~.circle {
  transform: translate(-140px, -20px)
}

.box-184:hover~.circle {
  transform: translate(-120px, -20px)
}

.box-185:hover~.circle {
  transform: translate(-100px, -20px)
}

.box-186:hover~.circle {
  transform: translate(-80px, -20px)
}

.box-187:hover~.circle {
  transform: translate(-60px, -20px)
}

.box-188:hover~.circle {
  transform: translate(-40px, -20px)
}

.box-189:hover~.circle {
  transform: translate(-20px, -20px)
}

.box-190:hover~.circle {
  transform: translate(0px, -20px)
}

.box-191:hover~.circle {
  transform: translate(20px, -20px)
}

.box-192:hover~.circle {
  transform: translate(40px, -20px)
}

.box-193:hover~.circle {
  transform: translate(60px, -20px)
}

.box-194:hover~.circle {
  transform: translate(80px, -20px)
}

.box-195:hover~.circle {
  transform: translate(100px, -20px)
}

.box-196:hover~.circle {
  transform: translate(120px, -20px)
}

.box-197:hover~.circle {
  transform: translate(140px, -20px)
}

.box-198:hover~.circle {
  transform: translate(160px, -20px)
}

.box-199:hover~.circle {
  transform: translate(180px, -20px)
}

.box-200:hover~.circle {
  transform: translate(-200px, 0px)
}

.box-201:hover~.circle {
  transform: translate(-180px, 0px)
}

.box-202:hover~.circle {
  transform: translate(-160px, 0px)
}

.box-203:hover~.circle {
  transform: translate(-140px, 0px)
}

.box-204:hover~.circle {
  transform: translate(-120px, 0px)
}

.box-205:hover~.circle {
  transform: translate(-100px, 0px)
}

.box-206:hover~.circle {
  transform: translate(-80px, 0px)
}

.box-207:hover~.circle {
  transform: translate(-60px, 0px)
}

.box-208:hover~.circle {
  transform: translate(-40px, 0px)
}

.box-209:hover~.circle {
  transform: translate(-20px, 0px)
}

.box-210:hover~.circle {
  transform: translate(0px, 0px)
}

.box-211:hover~.circle {
  transform: translate(20px, 0px)
}

.box-212:hover~.circle {
  transform: translate(40px, 0px)
}

.box-213:hover~.circle {
  transform: translate(60px, 0px)
}

.box-214:hover~.circle {
  transform: translate(80px, 0px)
}

.box-215:hover~.circle {
  transform: translate(100px, 0px)
}

.box-216:hover~.circle {
  transform: translate(120px, 0px)
}

.box-217:hover~.circle {
  transform: translate(140px, 0px)
}

.box-218:hover~.circle {
  transform: translate(160px, 0px)
}

.box-219:hover~.circle {
  transform: translate(180px, 0px)
}

.box-220:hover~.circle {
  transform: translate(-200px, 20px)
}

.box-221:hover~.circle {
  transform: translate(-180px, 20px)
}

.box-222:hover~.circle {
  transform: translate(-160px, 20px)
}

.box-223:hover~.circle {
  transform: translate(-140px, 20px)
}

.box-224:hover~.circle {
  transform: translate(-120px, 20px)
}

.box-225:hover~.circle {
  transform: translate(-100px, 20px)
}

.box-226:hover~.circle {
  transform: translate(-80px, 20px)
}

.box-227:hover~.circle {
  transform: translate(-60px, 20px)
}

.box-228:hover~.circle {
  transform: translate(-40px, 20px)
}

.box-229:hover~.circle {
  transform: translate(-20px, 20px)
}

.box-230:hover~.circle {
  transform: translate(0px, 20px)
}

.box-231:hover~.circle {
  transform: translate(20px, 20px)
}

.box-232:hover~.circle {
  transform: translate(40px, 20px)
}

.box-233:hover~.circle {
  transform: translate(60px, 20px)
}

.box-234:hover~.circle {
  transform: translate(80px, 20px)
}

.box-235:hover~.circle {
  transform: translate(100px, 20px)
}

.box-236:hover~.circle {
  transform: translate(120px, 20px)
}

.box-237:hover~.circle {
  transform: translate(140px, 20px)
}

.box-238:hover~.circle {
  transform: translate(160px, 20px)
}

.box-239:hover~.circle {
  transform: translate(180px, 20px)
}

.box-240:hover~.circle {
  transform: translate(-200px, 40px)
}

.box-241:hover~.circle {
  transform: translate(-180px, 40px)
}

.box-242:hover~.circle {
  transform: translate(-160px, 40px)
}

.box-243:hover~.circle {
  transform: translate(-140px, 40px)
}

.box-244:hover~.circle {
  transform: translate(-120px, 40px)
}

.box-245:hover~.circle {
  transform: translate(-100px, 40px)
}

.box-246:hover~.circle {
  transform: translate(-80px, 40px)
}

.box-247:hover~.circle {
  transform: translate(-60px, 40px)
}

.box-248:hover~.circle {
  transform: translate(-40px, 40px)
}

.box-249:hover~.circle {
  transform: translate(-20px, 40px)
}

.box-250:hover~.circle {
  transform: translate(0px, 40px)
}

.box-251:hover~.circle {
  transform: translate(20px, 40px)
}

.box-252:hover~.circle {
  transform: translate(40px, 40px)
}

.box-253:hover~.circle {
  transform: translate(60px, 40px)
}

.box-254:hover~.circle {
  transform: translate(80px, 40px)
}

.box-255:hover~.circle {
  transform: translate(100px, 40px)
}

.box-256:hover~.circle {
  transform: translate(120px, 40px)
}

.box-257:hover~.circle {
  transform: translate(140px, 40px)
}

.box-258:hover~.circle {
  transform: translate(160px, 40px)
}

.box-259:hover~.circle {
  transform: translate(180px, 40px)
}

.box-260:hover~.circle {
  transform: translate(-200px, 60px)
}

.box-261:hover~.circle {
  transform: translate(-180px, 60px)
}

.box-262:hover~.circle {
  transform: translate(-160px, 60px)
}

.box-263:hover~.circle {
  transform: translate(-140px, 60px)
}

.box-264:hover~.circle {
  transform: translate(-120px, 60px)
}

.box-265:hover~.circle {
  transform: translate(-100px, 60px)
}

.box-266:hover~.circle {
  transform: translate(-80px, 60px)
}

.box-267:hover~.circle {
  transform: translate(-60px, 60px)
}

.box-268:hover~.circle {
  transform: translate(-40px, 60px)
}

.box-269:hover~.circle {
  transform: translate(-20px, 60px)
}

.box-270:hover~.circle {
  transform: translate(0px, 60px)
}

.box-271:hover~.circle {
  transform: translate(20px, 60px)
}

.box-272:hover~.circle {
  transform: translate(40px, 60px)
}

.box-273:hover~.circle {
  transform: translate(60px, 60px)
}

.box-274:hover~.circle {
  transform: translate(80px, 60px)
}

.box-275:hover~.circle {
  transform: translate(100px, 60px)
}

.box-276:hover~.circle {
  transform: translate(120px, 60px)
}

.box-277:hover~.circle {
  transform: translate(140px, 60px)
}

.box-278:hover~.circle {
  transform: translate(160px, 60px)
}

.box-279:hover~.circle {
  transform: translate(180px, 60px)
}

.box-280:hover~.circle {
  transform: translate(-200px, 80px)
}

.box-281:hover~.circle {
  transform: translate(-180px, 80px)
}

.box-282:hover~.circle {
  transform: translate(-160px, 80px)
}

.box-283:hover~.circle {
  transform: translate(-140px, 80px)
}

.box-284:hover~.circle {
  transform: translate(-120px, 80px)
}

.box-285:hover~.circle {
  transform: translate(-100px, 80px)
}

.box-286:hover~.circle {
  transform: translate(-80px, 80px)
}

.box-287:hover~.circle {
  transform: translate(-60px, 80px)
}

.box-288:hover~.circle {
  transform: translate(-40px, 80px)
}

.box-289:hover~.circle {
  transform: translate(-20px, 80px)
}

.box-290:hover~.circle {
  transform: translate(0px, 80px)
}

.box-291:hover~.circle {
  transform: translate(20px, 80px)
}

.box-292:hover~.circle {
  transform: translate(40px, 80px)
}

.box-293:hover~.circle {
  transform: translate(60px, 80px)
}

.box-294:hover~.circle {
  transform: translate(80px, 80px)
}

.box-295:hover~.circle {
  transform: translate(100px, 80px)
}

.box-296:hover~.circle {
  transform: translate(120px, 80px)
}

.box-297:hover~.circle {
  transform: translate(140px, 80px)
}

.box-298:hover~.circle {
  transform: translate(160px, 80px)
}

.box-299:hover~.circle {
  transform: translate(180px, 80px)
}

.box-300:hover~.circle {
  transform: translate(-200px, 100px)
}

.box-301:hover~.circle {
  transform: translate(-180px, 100px)
}

.box-302:hover~.circle {
  transform: translate(-160px, 100px)
}

.box-303:hover~.circle {
  transform: translate(-140px, 100px)
}

.box-304:hover~.circle {
  transform: translate(-120px, 100px)
}

.box-305:hover~.circle {
  transform: translate(-100px, 100px)
}

.box-306:hover~.circle {
  transform: translate(-80px, 100px)
}

.box-307:hover~.circle {
  transform: translate(-60px, 100px)
}

.box-308:hover~.circle {
  transform: translate(-40px, 100px)
}

.box-309:hover~.circle {
  transform: translate(-20px, 100px)
}

.box-310:hover~.circle {
  transform: translate(0px, 100px)
}

.box-311:hover~.circle {
  transform: translate(20px, 100px)
}

.box-312:hover~.circle {
  transform: translate(40px, 100px)
}

.box-313:hover~.circle {
  transform: translate(60px, 100px)
}

.box-314:hover~.circle {
  transform: translate(80px, 100px)
}

.box-315:hover~.circle {
  transform: translate(100px, 100px)
}

.box-316:hover~.circle {
  transform: translate(120px, 100px)
}

.box-317:hover~.circle {
  transform: translate(140px, 100px)
}

.box-318:hover~.circle {
  transform: translate(160px, 100px)
}

.box-319:hover~.circle {
  transform: translate(180px, 100px)
}

.box-320:hover~.circle {
  transform: translate(-200px, 120px)
}

.box-321:hover~.circle {
  transform: translate(-180px, 120px)
}

.box-322:hover~.circle {
  transform: translate(-160px, 120px)
}

.box-323:hover~.circle {
  transform: translate(-140px, 120px)
}

.box-324:hover~.circle {
  transform: translate(-120px, 120px)
}

.box-325:hover~.circle {
  transform: translate(-100px, 120px)
}

.box-326:hover~.circle {
  transform: translate(-80px, 120px)
}

.box-327:hover~.circle {
  transform: translate(-60px, 120px)
}

.box-328:hover~.circle {
  transform: translate(-40px, 120px)
}

.box-329:hover~.circle {
  transform: translate(-20px, 120px)
}

.box-330:hover~.circle {
  transform: translate(0px, 120px)
}

.box-331:hover~.circle {
  transform: translate(20px, 120px)
}

.box-332:hover~.circle {
  transform: translate(40px, 120px)
}

.box-333:hover~.circle {
  transform: translate(60px, 120px)
}

.box-334:hover~.circle {
  transform: translate(80px, 120px)
}

.box-335:hover~.circle {
  transform: translate(100px, 120px)
}

.box-336:hover~.circle {
  transform: translate(120px, 120px)
}

.box-337:hover~.circle {
  transform: translate(140px, 120px)
}

.box-338:hover~.circle {
  transform: translate(160px, 120px)
}

.box-339:hover~.circle {
  transform: translate(180px, 120px)
}

.box-340:hover~.circle {
  transform: translate(-200px, 140px)
}

.box-341:hover~.circle {
  transform: translate(-180px, 140px)
}

.box-342:hover~.circle {
  transform: translate(-160px, 140px)
}

.box-343:hover~.circle {
  transform: translate(-140px, 140px)
}

.box-344:hover~.circle {
  transform: translate(-120px, 140px)
}

.box-345:hover~.circle {
  transform: translate(-100px, 140px)
}

.box-346:hover~.circle {
  transform: translate(-80px, 140px)
}

.box-347:hover~.circle {
  transform: translate(-60px, 140px)
}

.box-348:hover~.circle {
  transform: translate(-40px, 140px)
}

.box-349:hover~.circle {
  transform: translate(-20px, 140px)
}

.box-350:hover~.circle {
  transform: translate(0px, 140px)
}

.box-351:hover~.circle {
  transform: translate(20px, 140px)
}

.box-352:hover~.circle {
  transform: translate(40px, 140px)
}

.box-353:hover~.circle {
  transform: translate(60px, 140px)
}

.box-354:hover~.circle {
  transform: translate(80px, 140px)
}

.box-355:hover~.circle {
  transform: translate(100px, 140px)
}

.box-356:hover~.circle {
  transform: translate(120px, 140px)
}

.box-357:hover~.circle {
  transform: translate(140px, 140px)
}

.box-358:hover~.circle {
  transform: translate(160px, 140px)
}

.box-359:hover~.circle {
  transform: translate(180px, 140px)
}

.box-360:hover~.circle {
  transform: translate(-200px, 160px)
}

.box-361:hover~.circle {
  transform: translate(-180px, 160px)
}

.box-362:hover~.circle {
  transform: translate(-160px, 160px)
}

.box-363:hover~.circle {
  transform: translate(-140px, 160px)
}

.box-364:hover~.circle {
  transform: translate(-120px, 160px)
}

.box-365:hover~.circle {
  transform: translate(-100px, 160px)
}

.box-366:hover~.circle {
  transform: translate(-80px, 160px)
}

.box-367:hover~.circle {
  transform: translate(-60px, 160px)
}

.box-368:hover~.circle {
  transform: translate(-40px, 160px)
}

.box-369:hover~.circle {
  transform: translate(-20px, 160px)
}

.box-370:hover~.circle {
  transform: translate(0px, 160px)
}

.box-371:hover~.circle {
  transform: translate(20px, 160px)
}

.box-372:hover~.circle {
  transform: translate(40px, 160px)
}

.box-373:hover~.circle {
  transform: translate(60px, 160px)
}

.box-374:hover~.circle {
  transform: translate(80px, 160px)
}

.box-375:hover~.circle {
  transform: translate(100px, 160px)
}

.box-376:hover~.circle {
  transform: translate(120px, 160px)
}

.box-377:hover~.circle {
  transform: translate(140px, 160px)
}

.box-378:hover~.circle {
  transform: translate(160px, 160px)
}

.box-379:hover~.circle {
  transform: translate(180px, 160px)
}

.box-380:hover~.circle {
  transform: translate(-200px, 180px)
}

.box-381:hover~.circle {
  transform: translate(-180px, 180px)
}

.box-382:hover~.circle {
  transform: translate(-160px, 180px)
}

.box-383:hover~.circle {
  transform: translate(-140px, 180px)
}

.box-384:hover~.circle {
  transform: translate(-120px, 180px)
}

.box-385:hover~.circle {
  transform: translate(-100px, 180px)
}

.box-386:hover~.circle {
  transform: translate(-80px, 180px)
}

.box-387:hover~.circle {
  transform: translate(-60px, 180px)
}

.box-388:hover~.circle {
  transform: translate(-40px, 180px)
}

.box-389:hover~.circle {
  transform: translate(-20px, 180px)
}

.box-390:hover~.circle {
  transform: translate(0px, 180px)
}

.box-391:hover~.circle {
  transform: translate(20px, 180px)
}

.box-392:hover~.circle {
  transform: translate(40px, 180px)
}

.box-393:hover~.circle {
  transform: translate(60px, 180px)
}

.box-394:hover~.circle {
  transform: translate(80px, 180px)
}

.box-395:hover~.circle {
  transform: translate(100px, 180px)
}

.box-396:hover~.circle {
  transform: translate(120px, 180px)
}

.box-397:hover~.circle {
  transform: translate(140px, 180px)
}

.box-398:hover~.circle {
  transform: translate(160px, 180px)
}

.box-399:hover~.circle {
  transform: translate(180px, 180px)
}