.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background: #27ae60;
  }
  
  .ball {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
  }
  
  .ball-x {
    top: 0;
    left: 195px;
    -webkit-animation: an-ball-1 1.5s linear alternate both infinite;
            animation: an-ball-1 1.5s linear alternate both infinite;
  }
  
  .ball-x-2 {
    top: 195px;
    left: 0;
    -webkit-animation: an-ball-2 1.5s linear alternate both infinite;
            animation: an-ball-2 1.5s linear alternate both infinite;
  }
  
  .ball-y {
    top: 0;
    left: 0;
    -webkit-animation: an-ball-3 3s linear alternate both infinite;
            animation: an-ball-3 3s linear alternate both infinite;
  }
  
  .ball-y-2 {
    top: 0;
    left: 0;
    -webkit-animation: an-ball-4 3s linear alternate both infinite;
            animation: an-ball-4 3s linear alternate both infinite;
  }
  
  @-webkit-keyframes an-ball-1 {
    to {
      transform: translate(-195px, 195px);
    }
  }
  
  @keyframes an-ball-1 {
    to {
      transform: translate(-195px, 195px);
    }
  }
  @-webkit-keyframes an-ball-2 {
    to {
      transform: translate(195px, -195px);
    }
  }
  @keyframes an-ball-2 {
    to {
      transform: translate(195px, -195px);
    }
  }
  @-webkit-keyframes an-ball-3 {
    to {
      transform: translate(395px, 195px);
    }
  }
  @keyframes an-ball-3 {
    to {
      transform: translate(395px, 195px);
    }
  }
  @-webkit-keyframes an-ball-4 {
    to {
      transform: translate(195px, 395px);
    }
  }
  @keyframes an-ball-4 {
    to {
      transform: translate(195px, 395px);
    }
  }
  .top-half {
    width: 200px;
    height: 200px;
    -webkit-box-reflect: right 0;
  }
  
  .bottom-half {
    width: 400px;
    height: 200px;
    -webkit-box-reflect: below 0;
  }